/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal reset */

*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 100% is 16px - we want 1- px */
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777777;
  padding: 3rem;

  box-sizing: border-box;
}

.header {
  /* produce effect of green gradient over header backgorund image */
  height: 95vh;
  /* use backgorund image for gradient */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 100, 131, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  /* position relative for where top and left of logo-box will be positioned from */
  position: relative;
  /* wedge out bottom part of imgae using clip path, x and y direction move */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  /* center title */
  top: 40%;
  left: 50%;
  /* use transform to shift titles to middle of title div to exact center of parent element */
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;

  /* determines if back part of element transform is visible or not */
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  /* display as block level  elements to create line breaks after and before */
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  /* applying animation requires properties */
  /* animation-name: moveInLeft;
  animation-duration: 1.5s; */
  /* timing-function determines how fast or slow the animation function parameters occur over time */
  /* animation-timing-function: ease-out; */
  /* animation-iteration-count: 3; */
  /* animation-delay: 3s; */

  animation: moveInLeft 1.5s ease-out;
}

.heading-primary--sub {
  /* display as block level  elements to create line breaks after and before */
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  /* applying animation  */
  /* animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-out; */
  /* animation-delay: 1s */
  /* short-hand way of incorporating animation */
  animation: moveInRight 1.5s ease-out;
}

/* KEYFRAMES */

/* FOR TITLE */
@keyframes moveInLeft {
  /* at start */
  0% {
    opacity: 0;
    /* come form left */
    transform: translateX(-10rem);
  }

  80% {
    /* shift to right of original postion slightly */
    transform: translateX(1rem);
  }

  /* finish  */

  100% {
    opacity: 1;
    /* origin position */
    transform: translate(0);
  }
}

/* FOR SUBTITLE */

@keyframes moveInRight {
  /* at start */
  0% {
    opacity: 0;
    /* come form left */
    transform: translateX(10rem);
  }

  80% {
    /* shift to right of original postion slightly */
    transform: translateX(-1rem);
  }

  /* finish  */

  100% {
    opacity: 1;
    /* origin position */
    transform: translate(0);
  }
}

/* FOR BUTTON */

@keyframes moveInButton {
  /* at start */
  0% {
    opacity: 0;
    /* come from bottom left */
    transform: translateY(3rem);
  }

  /* finish  */

  100% {
    opacity: 1;
    /* origin position */
    transform: translate(0);
  }
}

/* ////////////DISCOVER BUTTON STYLING////////////// */

/* pseudoclass to style elements under a special condition */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  /* make slightly opaque */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

/* create effect of flashing after hover */

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: white;
}

.btn:hover::after {
  /* increase element size */
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  /* apply styles of 0% before animation starts, make button dissappear */
  animation-fill-mode: backwards;
}
