@mixin clearfix {
  &::after {
    //set content porperty otherwise psuedo element will not appear, empty so we do not see
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  /* center title */
  top: 50%;
  left: 50%;
  /* use transform to shift titles to middle of title div to exact center of parent element */
  transform: translate(-50%, -50%);
}

////////MEDIA QUERY MIXINS MANAGER///////

/*
Desktop first design

0-600px : Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape

1200-1800px: Where normal styles apply

1800px+: Big Desktop

$breakpoint argument choices;
- phone
- tab-port
- tab-land
- big-desktop
*/

//ORDER OF MIXINS -- typography > general layout + grid > page layout > components

//USE EM FOR MEDIA QUERIES --- 1EM = 16PX

@mixin respond($breakpoint) {
  //if directive - pass in breakpoint for certain logic to occur
  //content directive -allows us to pass a block of code into a mixin
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1800
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
  @if $breakpoint == popup {
    @media only screen and (max-width: 100em) {
      @content;
    }
  }
  @if $breakpoint == small-popup {
    @media only screen and (max-width: 28.125em) {
      @content;
    }
  }
}
