@mixin clearfix {
  &::after {
    //set content porperty otherwise psuedo element will not appear, empty so we do not see
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-horizontal-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
