body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* determines if back part of element transform is visible or not */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    /* display as block level  elements to create line breaks after and before */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    /* applying animation requires properties */
    /* animation-name: moveInLeft;
        animation-duration: 1.5s; */
    /* timing-function determines how fast or slow the animation function parameters occur over time */
    /* animation-timing-function: ease-out; */
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */

    animation: moveInLeft 1.5s ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    /* display as block level  elements to create line breaks after and before */
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    /* applying animation  */
    /* animation-name: moveInRight;
        animation-duration: 1.5s;
        animation-timing-function: ease-out; */
    /* animation-delay: 1s */
    /* short-hand way of incorporating animation */
    animation: moveInRight 1.5s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  //set as inline block for gradient to apply on the text only not the whole block
  display: inline-block;
  //set gradient form light green to dark green for secondary heading using bacgrkound-image;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  //set gradient for text only
  -webkit-background-clip: text;
  //set text as transparent for text to assume color of backgorund gradient
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    //deg for skew
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    //x and y direction for text-shadow, 20pixels for offblur
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
